[user]
  name = Wilson Lee
  email = kourge@gmail.com

[core]
  excludesfile = ~/.gitignore_global

[alias]
  st = status
  ci = commit
  co = checkout
  dif = diff
  difc = "diff --cached"
  lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit"
  rblog = "log --color --pretty=format:'%Cred[%h]%Creset %s %C(bold blue)%Creset'"
  recent = "for-each-ref --sort=-committerdate refs/heads/"

[core]
  excludesfile = ~/.gitignore_global

[diff]
  renames = true

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = auto

[color "branch"]
  current = cyan
  local = normal
  remote = yellow
[color "diff"]
  meta = white
  frag = yellow bold
  old = red
  new = cyan
[color "status"]
  added = cyan
  changed = yellow
  untracked = red
